* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2c35d;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background: white;
  outline: none;
}

form button {
  color: #d88771;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #d88771;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  min-width: 30%;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo-item {
  flex-grow: 1;
  margin-right: 10px;
  padding: 0rem 1rem;
}

.todo button {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 1rem;
  font-size: 1rem;
}

.checked-btn {
  background: rgb(90, 200, 73);
}

.trash-btn {
  background: #ff6f4f;
}

.fa-trash,
.fa-check-square {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f4f;
  width: 8rem;
  cursor: pointer;
  padding: 0.5rem;
  background: white;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #ff6f4f;
  top: -4px;
  right: 0;
  padding: 0.5rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #ff6f4f;
}
